@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --color-african-gold: #fdb813;
  --dark-bg: #121212;
  --dark-bg-secondary: #1e1e1e;
  --dark-bg-tertiary: #2a2a2a;
  --text-primary: #e0e0e0;
  --text-secondary: #b0b0b0;
  --placeholder-text: #6e6e6e;
}

.bg-african-gold {
  background-color: var(--color-african-gold);
}

.text-african-gold {
  color: var(--color-african-gold);
}

@layer base {
  body {
    @apply bg-transparent text-gray-900 dark:text-[var(--text-primary)];
  }

  body::before {
    content: "";
    @apply fixed inset-0 z-[-1] opacity-50;
    background-image: url("/bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  body.dark {
    background: linear-gradient(180deg, #0a0a0a, #1a1a1a) !important;
  }

  ::placeholder {
    color: var(--placeholder-text);
  }
}
